@import url('https://fonts.googleapis.com/css?family=Roboto');
#contact{
    height: 87vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
    color:#494949;
}
@media (max-width: 431px) {
    h1 {
        font-size: 1.4em;
    }
  }