.betyg {
margin-left:30px;
}
.betyg h2,
.betyg h4 {
    padding-top:20px;
}
.box {
 background-color: #dddddd;
 margin-right:5px;
 width:150px;
 text-align: center;
 border:1px solid black;
 color:black;
 margin-top:10px;
}
.box1 {
margin-right:5px;
width:150px;
color:white;
text-align: center;
border:1px solid black;
color:black;

}

.tesst{
position: relative;
margin-top:-20px;
display: flex;
}
	.wrapper {
		display: flex;
    grid-gap: 10px;
		grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    margin-bottom: 2em;
	}
  .slutbetyg {
		display: flex;
    grid-gap: 10px;
    margin-top:-30px;
		grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    margin-bottom: 2em;
	}
.vg {
  background-color:#93c76c;
}
.g {
  background-color:#c5e371;
}
