@import url('https://fonts.googleapis.com/css?family=Roboto');
.post{
    display: flex;
    height: auto;
    text-align: left;
}
.post:nth-child(even){
    background-color:#f0c689;
}
h4{
    margin-top: 0px;
    position: absolute;
}
.post-message{
    font-size: 13px; 
    font-weight: normal;
}