@import url('https://fonts.googleapis.com/css?family=Roboto');
#guestbook{
    min-height: 87vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
}
form{
    display: flex;
    flex-direction: column;
}
#guestbook-holder{
    width: 292px;
}
.mb{
    margin-bottom: 7px;
}
#gw{
    width: 100%;
    display: flex;
    justify-content: center
}
button{
    padding: 5px;
}
input{
    padding: 5px;
}
@media (max-width: 431px) {
    #guestbook-holder{
        width: 88%;
    }
  }