.betyg {
margin-left:30px;
position: relative;
top: 50px;
}
.betyg h2,
.betyg h4 {
    padding-top:20px;
}
.box {
 background-color: #dddddd;
 margin-right:5px;
 width:150px;
 text-align: center;
 border:1px solid black;
 color:black;
 margin-top:10px;
}
.box1 {
margin-right:5px;
width:150px;
color:white;
text-align: center;
border:1px solid black;
color:black;

}

.tesst{
position: relative;
margin-top:-20px;
display: flex;
}
	.wrapper {
		display: flex;
    grid-gap: 10px;
		grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    margin-bottom: 2em;
	}
  .slutbetyg {
		display: flex;
    grid-gap: 10px;
    margin-top:-30px;
		grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    margin-bottom: 2em;
	}
.vg {
  background-color:#8add63;
}
.g {
  background-color:#c8f6b3;
}


.progress {
    background-color:#ccc !important;
}

.progress-bar {
    background-color:#73bf50  !important;
}


.loader {
    border: 16px solid #8add63;
    border-top: 16px solid #ccc;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin:0 auto;
    bottom: 50vh;
    position:relative;
}

#error-msg{
    color: red;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

ul.t{
border:1px solid black;
margin-top:20px;
}
