@import url('https://fonts.googleapis.com/css?family=Roboto');
#weather{
    height: 87vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
}
#weather-holder{
    width: 424px;
    align-self: center;
}
p{
    font-weight: normal;
}
#temp{
    font-size: 18px;
}
span{
    font-weight: bold;
}
button{
    padding: 5px;
}
input{
    padding: 5px;
}

@media (max-width: 431px) {
    #weather-holder {
      width: 88%;
    }
  }