@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');

body {
  margin: 0;
  overflow-y: scroll;
}

noscript {
  background-color: #d62c2c;
  color: white;
  display: flex;
  font-family: 'Lato', sans-serif;
  justify-content: center;
  padding: 7px;
}

#important_message {
  background-color: #d62c2c;
  color: white;
  display: flex;
  font-family: 'Lato', sans-serif;
  height: auto;
  justify-content: center;
  /*padding: 7px;*/
}

nav#desktop {
  background-color: black;
  display: flex;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 48px;
  justify-content: center;
  width: 100%;
}

nav#desktop div {
  height: 100%;
  position: relative;
  width: 1042px;
}

nav#desktop ul:first-child {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav#desktop ul:last-child {
  margin-top: 11px;
  position: absolute;
  right: 10px;
  top: 18px;
}

nav#desktop img {
  width: 27px;
  margin-top: -19px;
}

nav#desktop img:hover {
  cursor: pointer;
}

nav#desktop a {
  color: white;
  display: block;
  padding: 15px 7px 15px 7px;
  text-decoration: none;
  transition: color 0.4s;
}

nav#desktop a:hover {
  color: #FF6500;
  cursor: pointer;
}

nav#mobile {
  display: none;
}

nav#mobile div {
  width: 100%;
}

nav#mobile u {
  font-size: 16px;
  width: 100%;
}

nav#mobile li {
  display: inline-block;
  margin-bottom: 4px;
  width: 100%;
}

nav#mobile a {
  color: black;
  display: block;
  font-family: 'Lato', sans-serif;
  height: 22px;
  text-decoration: none;
  width: 100%;
}

nav#mobile ul {
  list-style-type: none;
  padding: 0;
  padding-left: 10px;
}

aside>ul {
  list-style-type: none;
  padding: 0;
}

aside a {
  color: #FF6500;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: normal !important;
  text-decoration: none;
}

aside a:hover {
  color: #144f33 !important;
  text-decoration: none !important;
}

aside li {
  margin-bottom: 5px
}

#menu_icon {
  display: none;
}

#banner_ad_container {
  background-color: #f2f2f2;
  display: flex;
  height: 128px;
  justify-content: center;
  width: 100%;
}

#banner_ad_container div {
  align-self: center;
  background-color: #c7c7c7;
  height: 90px;
  width: 728px;
}

#logo {
  color: white;
  display: none;
  font-family: 'Archivo Black', sans-serif;
  left: 5px;
  position: absolute;
  top: 13px;
  z-index: 50000;
}

#logo a {
  color: white;
  text-decoration: none;
  transition: color 0.4s;
}

#logo a:hover {
  color: #FF6500;
}

#index_container {
  height: auto;
  margin: 0 auto;
  margin-top: 41px;
  max-width: 1042px;
  position: relative;
}

#three_newest_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 485px;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

#big_image {
  background-color: black;
  display: flex;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 757px;
}

#big_img_opa {
  /* Netscape */
  -khtml-opacity: 0.3;
  /* IE 5-7 */
  -moz-opacity: 0.3;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  background-color: black;
  /* IE 8 */
  filter: alpha(opacity=30);
  height: 100%;
  left: 0;
  margin-left: 0px;
  /* Safari 1.x */
  opacity: 0.3;
  position: absolute;
  top: 0;
  /* Good browsers */
  transition: opacity 0.5s;
  transition: -ms-filter 0.5s;
  transition: filter 0.5s;
  transition: -moz-opacity 0.5s;
  transition: -khtml-opacity 0.5s;
  width: 72.7%;
}

#big_image img:hover, .holder>img:hover, .popular img:hover, .min_img:hover, .min_small_img:hover, .list_img:hover {
  cursor: pointer;
  opacity: 0.9;
}

.search_form {
  display: flex;
}

#small_img_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 282px;
}

.black_link {
  color: black;
  text-decoration: none;
}

.black_link:hover {
  color: #333333 !important;
  cursor: pointer;
}

.category_index_link {
  color: #FF6500;
  text-decoration: none;
}

.category_index_link:hover {
  text-decoration: underline;
}

.holder {
  background-color: black;
  display: flex;
  height: 241px;
  justify-content: center;
  width: 100%;
}

#big_image img, .holder img {
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  width: 100%;
}

#b_img_text {
  align-self: center;
  color: white;
  font-family: 'Lato', sans-serif;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 179px;
}

.s_img_text {
  align-self: center;
  color: white;
  font-family: 'Lato', sans-serif;
  pointer-events: none;
  position: absolute;
  text-align: center;
  width: 179px;
  z-index: 1;
}

#logo_text {
  color: white;
  font-family: 'Archivo Black', sans-serif !important;
  margin-right: 8px;
  margin-top: -1px;
}

#b_img_text>h2 {
  margin: 0;
  margin-top: 6px;
}

.s_img_text>h3 {
  margin: 0;
  margin-top: 6px;
}

article strong {
  font-size: 16px;
}

#awsd {
  margin: 0 auto;
  width: 686px;
}

.s_img_text span {
  font-size: 13px;
}

#b_img_text>span {
  background-color: white;
  color: #36280E;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 3px 2px 3px;
}

.s_img_text>h2 {
  margin: 0;
  margin-top: 6px;
}

.s_img_text>span {
  background-color: white;
  color: #36280E;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 3px 2px 3px;
}

.popular h4 {
  max-width: 240px;
}

.most_popular_text_contaner {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 32px;
  margin-top: 38px;
  width: 100%;
}

.most_popular_text_contaner h4 {
  margin: 0;
  margin-bottom: 6px;
}

.most_popular_container {
  border-bottom: 1px solid #DEDEDE;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 100%;
}

.popular {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 30px;
  min-height: 262px;
  position: relative;
  width: 240px;
}

.margin-bottom-25 {
  margin-bottom: 25px !important;
}

#all_categories h4 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  margin-bottom: -4px;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popular img {
  height: 194px;
  object-fit: cover;
  opacity: 0.8;
  width: 100% !important;
  z-index: 2;
}

.popular p {
  color: #17C773;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 6px;
  margin-top: 5px;
}

.popular h4 {
  margin: 0;
}

.popular_dark {
  background-color: black;
  display: block !important;
  height: 194px;
  position: absolute;
  width: 100% !important;
  z-index: 1;
}

.thick_line {
  background-color: #e1e1e1;
  height: 4px;
  margin-top: 4px;
  width: 256px;
}

.thick_line div {
  background-color: #ff6500;
  height: 100%;
  width: 40%;
}

#two_categories_container {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  width: 694px;
}

#category_and_ad_continer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-between;
  width: 100%;
}

#all_categories {
  height: auto;
  line-height: 29px;
  width: 300px;
}

#all_categories ul {
  list-style-type: none;
  padding: 0;
}

#all_categories a {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-decoration: none;
}

#all_categories a:hover {
  text-decoration: underline;
}

.category {
  font-family: 'Open Sans', sans-serif;
  height: auto;
  position: relative;
  width: 333px;
}

#two_categories_container>div>img {
  height: 267px;
  object-fit: cover;
  width: 100%;
}

#two_categories_container>div>h4 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  height: 21.6px;
  margin: 0;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#two_categories_container>div>p {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  font-size: 14px;
  height: 38.4px;
  margin-bottom: 34px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.min_link {
  display: grid;
}

.min_dark {
  background-color: black;
  height: 267px;
  width: 100%;
}

.min_img {
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  width: 100%;
}

.min_small_img_container {
  align-self: center;
  background-color: black;
  height: 80px;
  width: 120px;
}

.min_small_img {
  opacity: 0.8;
}

.category_header {
  background-color: black;
  color: white;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  height: 29px;
  justify-content: center;
  margin-bottom: 21px;
  width: 100%;
}

.category_header p {
  align-self: center;
  margin: 0;
}

.arrow_down {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 6px solid black;
  height: 0;
  margin-top: 29px;
  position: absolute;
  width: 0;
}

.small_category_container {
  border-bottom: 1px solid #DEDEDE;
  display: flex;
  flex-direction: row;
  height: 116px;
  width: 334px;
}

.small_category_container img {
  align-self: center;
  height: 80px;
  object-fit: cover;
  width: 120px;
}

.small_category_container h5 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  font-size: 14px;
  height: 79px;
  margin: 0;
  margin-left: 9px;
  margin-top: 20px;
  overflow: hidden;
  width: 165px;
}

main#article {
  display: flex;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 23px;
  width: 1028px;
}

main#list {
  display: flex;
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 23px;
  width: 901px;
}

article {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  height: auto;
  width: 700px;
}

article img {
  height: 397px;
  object-fit: cover;
  width: 700px;
}

article h1, article h5, aside h3 {
  margin: 0;
}

aside h3 {
  color: #333333;
  font-family: "Roboto Condensed", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
  margin-top: 10px;
  text-transform: none;
}

.margin-t-10 {
  margin-top: 22px;
}

.margin-b-10 {
  margin-bottom: 10px;
}

.subject_l_container {
  background-color: #f3f3f3;
  height: 3px;
  margin-bottom: 10px;
  width: 100%;
}

.subject_l_container div {
  background-color: #ff6500;
  height: 100%;
  width: 30%;
}

.contact_container {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  height: auto;
  width: 700px;
}

.search_container {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  height: auto;
  width: 578px;
}

.search_item {
  border-bottom: 1px solid #DEDEDE;
  display: flex;
  flex-direction: row;
  height: 97px;
  margin-bottom: 20px;
  margin-right: 12px;
  width: 277px;
}

.list_item_link {
  color: black !important;
}

.list_item_link:hover {
  text-decoration: none !important;
}

.search_item img {
  height: 74px;
  object-fit: cover;
  width: 112px;
}

#cookie_consent {
  background-color: black;
  bottom: 0;
  color: white;
  display: flex;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  height: 72px;
  left: 0;
  padding-left: 6%;
  position: fixed;
  visibility: hidden;
  width: 100%;
  z-index: 5000;
}

#pagination {
  width: 100%;
}

#pagination ul {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#pagination li {
  border: 1px solid #dddddd;
  display: inline-block;
}

#pagination li:hover {
  background-color: #ff8118;
}

#pagination a {
  color: black !important;
  display: block;
  font-weight: normal !important;
  padding-bottom: 3px;
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 3px;
}

#pagination a:hover {
  text-decoration: none !important;
}

#cookie_consent span {
  display: inline-block;
  font-size: 15px;
  margin-bottom: 4px;
  margin-top: 6px;
}

#cookie_consent div {
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

#cookie_consent button {
  background-color: #f6721c;
  border: 0;
  font-family: Helvetica, Calibri, Arial, sans-serif;
  font-weight: bold;
  padding-bottom: 8px;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 8px;
}

#cookie_consent button:hover {
  cursor: pointer;
}

.list_info {
  position: relative;
}

.list_info h5 {
  max-width: 159px;
}

.search_item h5 {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  height: 57px;
  margin-left: 3px;
  margin-top: 8px;
  overflow: hidden;
  overflow: hidden;
}

.search_item h6 {
  left: 3px;
  position: absolute;
  top: 48px;
}

.list_img {
  align-self: center;
  background-color: black;
  height: 74px;
  width: 112px;
}

.list_img:hover {
  cursor: pointer;
}

.search_container h4 {
  font-weight: normal;
  margin-top: 0px;
}

article p {
  color: #1e1e1e;
  font-size: 17px;
  margin-bottom: 10px;
}

article a {
  color: #FF6500;
  font-weight: normal;
  text-decoration: none;
}

article a:hover {
  text-decoration: underline;
}

main#list a {
  color: #FF6500;
  font-weight: bold;
  text-decoration: none;
}

main#list a:hover {
  text-decoration: underline;
}

main#list h1 {
  margin: 0;
}

.hover-cursor {
  cursor: pointer;
}

.pagination-current {
  background-color: #ffb04d;
}

.related_articles {
  color: #5a5959;
  margin: 0;
  padding: 0;
  padding-left: 19px;
}

.related_articles li {
  margin-bottom: 5px;
}

.related_articles a {
  font-weight: normal;
}

.related_articles a:hover {
  color: #144f33;
  text-decoration: none;
}

.article_ad {
  height: 250px;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 16px;
  width: 300px;
}

.article_ad img {
  height: 100%;
  width: 100%;
}

#share_container img {
  height: 28px;
  width: 28px;
}

#share_container {
  margin-top: 3px;
}

aside {
  display: table;
  height: auto;
  padding: 7px;
  width: 300px;
}

footer {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
  margin-top: 63px;
  width: 100%;
}

footer ul {
  align-self: center;
  list-style-type: none;
  padding: 0;
}

footer li {
  display: inline;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 17px;
  margin-right: 11px;
}

footer p {
  align-self: center;
  color: #5D5D5D;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  margin-top: -9px;
}

footer a {
  color: #353535;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

#search_container {
  display: none;
  margin-bottom: 9px;
  margin-top: 8px;
  overflow: hidden;
  width: 100%;
}

#search_it {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 1px;
  width: 235px;
}

.list_items_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#search_it input {
  border: 3px solid #262626;
  font-family: 'Open Sans', sans-serif;
  height: 28px;
}

#search_it button {
  background-color: #1e1e1e;
  border: 0;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 5px 8px 8px 7px;
}

#search_it button:hover {
  cursor: pointer;
}

#menu_icon {
  margin-right: 7px;
}

.active {
  background-color: #ff8118 !important;
}

@media (max-width:1056px) {
  #index_container {
    width: 100%;
  }

  #small_img_container {
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-between;
    overflow: hidden;
  }

  #big_image {
    height: 300px;
  }

  #three_newest_container {
    height: 545px;
    margin: 0 auto;
    max-width: 755px;
  }

  .holder {
    width: 100%;
  }

  .popular:last-child {
    display: none;
  }

  #all_categories {
    display: none;
  }

  #category_and_ad_continer {
    justify-content: center;
  }

  #big_image {
    width: 100%;
  }

  .popular {
    width: 210px;
  }

  .most_popular_container {
    margin: 0 auto;
    width: 755px;
  }

  .disable {
    display: none;
  }
}

@media (max-width:777px) {
  #two_categories_container {
    align-items: center;
    flex-direction: column;
    width: 95%;
  }

  #index_body {
    margin: 0 auto;
    width: 99%;
  }

  .category {
    margin-bottom: 52px;
    width: 100%;
  }

  .most_popular_container {
    align-items: center;
    flex-direction: column;
    margin-bottom: 31px;
    width: 95%;
  }

  .most_popular_text_contaner {
    width: 95%;
  }

  #three_newest_container {
    margin: 0 auto;
    width: 95%;
  }

  .popular {
    width: 100%;
  }

  #all_categories {
    display: block;
  }

  footer {
    border-top: 1px solid #DEDEDE;
  }

  footer ul {
    margin-top: 34px;
  }

  .arrow_down {
    margin-top: 28px;
  }
}

@media (max-width: 710px) {
  #desktop>div>ul:nth-child(2)>li:nth-child(1) {
    position: absolute;
    right: 33px;
    top: 1px;
  }

  #menu_icon {
    display: block;
    position: absolute;
    right: -10px;
    top: -17px;
  }

  nav#desktop ul:first-child {
    display: none;
  }

  footer li {
    margin-right: 8px;
  }

  #logo {
    display: block !important;
    top: 16px;
  }
}

@media (max-width: 1051px) {
  aside {
    display: none;
  }

  main#article {
    justify-content: center;
    width: 100%;
  }

  article, .contact_container, .search_container {
    display: flex;
    justify-content: center;
    width: 95%;
  }

  .align-self-c {
    align-self: center;
  }
}

@media (max-width: 721px) {
  .align-self-c {
    align-self: flex-start;
  }

  .align-self-c-mobile {
    margin-left: 10%;
  }

  article img {
    height: 200px;
    width: 100%;
  }

  .related_articles {
    display: inline-block;
    width: 80%;
  }

  .related_articles li {
    margin-bottom: 5px;
  }

  main#list {
    justify-content: center;
    width: 96%;
  }

  .list_items_container {
    justify-content: center;
    width: 100%;
  }

  .search_headers {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .search_item {
    width: 100%;
  }

  #cookie_consent {
    box-shadow: 1px 1px 32px black;
    height: 102px;
  }

  #cookie_consent div {
    flex-direction: column;
  }

  #pagination a {
    padding-left: 5px;
    padding-right: 5px;
  }

  .thick_line {
    width: 100%;
  }
}

a.aaa {
  color: #FF6500 !important;
}

@media (max-width: 1311px) {
  #logo {
    display: none;
  }
}