.loginbox{
  padding:0;
  background-color: #ccc;
  border-radius: 5px;
  height: 125px;
  box-shadow: 3px 3px #888888;
  text-align: center;
  margin-top: 13%;
}
.loginbox button{
  margin-top:2.5%;
  width: 90%;
  background-color: #95C77D;
  border: transparent;
}

.loginbox button:hover{
  background-color:#6aad4b;
}

.loginbox Input{
  width: 90%;
  margin: 0 auto;
}

.loginbox Input::-webkit-input-placeholder{
  color:#999;
}

.test {
  position:absolute;
  top:80vh;
  left:0;
}
