nav{
    width: 100%;
    height: 7vh;
    background-color: #ff9800;
    box-shadow: 0px 1px 11px #bebebe;
    display: flex;
    font-weight: bold;
    position: sticky;
}
ul{
    list-style-type: none;
    display: flex;
    align-self: center;
    margin-left: 9px;
    padding: 0;
}
li{
    margin-right: 10px;
}
li:hover{
    text-decoration: underline;
    cursor: pointer;
}
a{
    color: #000;
    text-decoration: none;
}
