@import url('https://fonts.googleapis.com/css?family=Roboto');
#om-mig{
    min-height: 87vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #eaeaea;
}
.about-text{
    align-self: center;
    max-width: 692px;
    font-size: 20px;
    line-height: 31px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    margin-right: 0px;
    margin-top: 0px;
}
p{
    margin-top: 22px;
    margin-right: 20px;
    font-size: 13px;
}
#techniques{
    width: 95%;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
}
img{
    align-self: center;
    margin-right: 19px;
    margin: 0 auto;
    object-fit: fill;
}
#htmlLogo{
    width: 57px;
    height: 52px;
}
#cssLogo{
    width: 76px;
    height: 53px;
}
#jsLogo{
    width: 54px;
    height: 54px;
}
#reactLogo{
    width: 70px;
    height: 55px;
}
#nodeLogo{
    width: 65px;
    height: 56px;
}
#phpLogo{
        width: 92px;
    height: 58px;
}
h2{
    font-weight: normal;
}
.b{
    font-weight: bold;
}