
html,body{
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.error-msg{
  color: red;
  font-family: monospace;
}
.app{
min-width: 100%;
}
::-webkit-scrollbar { width: 10px;}
::-webkit-scrollbar-track {background: #ECE9E6;}
::-webkit-scrollbar-thumb { background: #8888;}
